.dialogue-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  background: rgb(25, 44, 25);
  box-shadow: 0 0 0 5px rgb(27, 197, 132);
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  pointer-events: auto;
  width: 500px;
  height: 100px;
  user-select: none;
}

.dialogue-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.dialogue-text {
  text-align: left;
  height: 100%;
  flex: 1;
  position: relative;
}

.dialogue-text h2 {
  font-weight: 900;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
}

.dialogue-arrow {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid white;
}
